*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.top {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.block {
    background-color: red;
}
div.block-menu{
    display: flex;
    align-items: center;
    background-color: black;
}
div.info {
    background-color: #675846;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #F3F1ED;
}

div.img-menu{
    padding-right: 30px;
}
div.price,
div.text{
    width: 50%
}

p.titre-menu {
    color: green;
    text-transform: uppercase;
}

.img-menu .img-size {
    border-radius: 50%;
    width: 80px;
}