*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.top {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.block {
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-content: center;
}
div.block-menu{
    margin: 10px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
div.info {
    background-color: #675846;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #F3F1ED;
}

div.img-menu{
    padding-right: 30px;
}
div.text {
    padding-right: 50px;
}
div.price p{
    margin: 50%;
}
p.titre-menu {
    color: green;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.img-menu .img-size {
    border-radius: 50%;
    width: 80px;
}